@inherits LayoutComponentBase

<PageTitle>Estudos Blazor Web</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <Estudos.Blazor.Web.Pages.Login.Login></Estudos.Blazor.Web.Pages.Login.Login>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
